body{
    margin: 0 auto;
    background-color: azure;
    text-align: center;
}

h1{
    
    align-content: center;
}

.container{
    text-align: center;
    font-size: xx-large;
    background-color: darkgrey;
    width: 50%;
    margin: 0 auto;
}

.misTareas{
   
    border: 1em;
    border-color: black;
   
    padding: 1em 0;
	
	width: 25%;
    margin: 0 auto;
}

.realizada{
color:red;
text-decoration: line-through;
}


input {
    font-size: large;
    margin: 1em;
    padding: 1em;
    
}

.boton{
  
        border-radius: 4px;
        background-color: yellowgreen;
   
}